<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airbnb.mappers.AccommodationMapper">
    <insert id="insertAccommodation" parameterType="Accommodation" useGeneratedKeys="true" keyProperty="id">
        insert into accommodation
        (host_id, name, description, price, address, extra_rate, max_capacity, bedroom, bed, bathroom)
        values
        (#{hostId}, #{name}, #{description}, #{price}, #{address}, #{extraRate}, #{maxCapacity}, #{bedroom}, #{bed}, #{bathroom});
    </insert>
    <insert id="insertAccommodationImage" parameterType="AccommodationImage" useGeneratedKeys="true" keyProperty="id">
        insert into accommodation_image (accommodation_id, uri)
        values (#{accommodationId}, #{uri});
    </insert>
    <insert id="insertAccommodationAmenity" parameterType="AccommodationAmenity" useGeneratedKeys="true" keyProperty="id">
        insert into amenities (accommodation_id, amenity)
        values (#{accommodationId}, #{amenity});
    </insert>
    <insert id="insertAccommodationTag" parameterType="AccommodationTag" useGeneratedKeys="true" keyProperty="id">
        insert into tags (accommodation_id, tag)
        values (#{accommodationId}, #{tag});
    </insert>

    <select id="selectAccommodationById" parameterType="int" resultType="Accommodation">
        select * from accommodation where id=#{id};
    </select>




</mapper>
int