<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airbnb.mappers.AccommodationMapper">

    <select id="selectAccommodationByHostId" resultType="Accommodation" parameterType="string">
        select * from accommodation where host_id=#{hostId}
    </select>
    <select id="selectAccommodationAndImageByHostId" parameterType="string" resultType="AccommodationAndImage">
        select a.*, ai.uri
        from accommodation as a
        left join accommodation_image as ai
        on ai.id = (
        select min(id)
        from accommodation_image
        where accommodation_id = a.id
        )
        where a.host_id=#{hostId}
    </select>


    <!--검색 필터링 or 필터링 없는 숙소 전체 조회-->
    <select id="selectAllAccommodations" resultType="Accommodation">
        select * from accommodation
    </select>

    <!-- destination 기준 숙소 조회 -->
    <select id="selectAccommodationsByDestination" parameterType="string" resultType="Accommodation">
        select *
        from accommodation
        where accommodation.address like concat('%', #{destination}, '%');
    </select>

    <!-- destination 기준 숙소 조회 -->
    <select id="selectAccommodationsByCapacity" parameterType="int" resultType="Accommodation">
        select *
        from accommodation
        where max_capacity >= #{guest};
    </select>


    <!-- 예약된 날짜 범위만 반환 -->
    <select id="selectAccommodationsByDuration" resultType="Accommodation">
        select * from accommodation
        where id
        not in (select accommodation_id from reservation_date
             where date between #{checkInDate} and #{checkOutDate}
        );
    </select>
    <!-- 예약된 날짜 범위만 반환 -->
    <select id="selectUnavailableAccommodationsByDate" resultType="Reservation">
        select
        accommodation_id as accommodationId,
        start_date as checkInDate,
        end_date as checkOutDate
        from reservation
    </select>

  <!--  &lt;!&ndash; 모든 예약의 날짜 범위 조회&ndash;&gt;
    <select id="selectAllReservationRanges" resultType="Reservation">
        select accommodation_id as accommodationId, start_date as checkInDate, end_date as checkOutDate
        from reservation
    </select>-->


    <!-- 숙소 상세 조회(숙소 Id - 단건)-->
    <select id="selectAccommodationById" parameterType="int" resultType="Accommodation">
        select * from accommodation where id=#{id};
    </select>

    <!-- 숙소 상세 조회(숙소 Id - 다건) -->
    <select id="selectAccommodationsByIds" parameterType="String" resultType="Accommodation">
        select * from accommodation where id in (${ids});
    </select>

    <!-- 숙소 생성-->
    <insert id="insertAccommodation" parameterType="Accommodation" useGeneratedKeys="true" keyProperty="id">
        insert into accommodation
        (host_id, name, description, price, address, extra_rate, max_capacity, bedroom, bed, bathroom)
        values
        (#{hostId}, #{name}, #{description}, #{price}, #{address}, #{extraRate}, #{maxCapacity}, #{bedroom}, #{bed},
        #{bathroom});
    </insert>

    <!-- 숙소 수정-->
    <update id="updateAccommodation" parameterType="Accommodation">
        update accommodation
        set name=#{name},
        description=#{description},
        price=#{price},
        address=#{address},
        extra_rate=#{extraRate},
        max_capacity=#{maxCapacity},
        bedroom=#{bedroom},
        bed=#{bed},
        bathroom=#{bathroom}
        where id=#{id};
    </update>

    <!-- 숙소 삭제-->
    <delete id="deleteAccommodation" parameterType="int">
        delete from accommodation where id=#{id};
    </delete>

    <!--숙소 이미지 등록-->
    <insert id="insertAccommodationImage" parameterType="AccommodationImage" useGeneratedKeys="true" keyProperty="id">
        insert into accommodation_image (accommodation_id, uri)
        values (#{accommodationId}, #{uri});
    </insert>
    <delete id="deleteAccommodationImage" parameterType="int">
        delete from accommodation_image where id=#{id}
    </delete>

    <!--숙소 이미지 조회-->
    <select id="selectAccommodationImagesByAccommodationId" parameterType="int" resultType="AccommodationImage">
        select * from accommodation_image where accommodation_id = #{accommodationId};
    </select>

    <!--숙소 태그 등록-->
    <insert id="insertAccommodationTag" parameterType="Tags" useGeneratedKeys="true" keyProperty="id">
        insert into tags (accommodation_id, tag)
        values (#{accommodationId}, #{tag});
    </insert>
    <delete id="deleteAccommodationTags" parameterType="int">
        delete from tags where accommodation_id=#{accommodationId};
    </delete>

    <!--숙소 태그 조회-->
    <select id="selectAccommodationTagsByAccommodationId" parameterType="int" resultType="Tags">
        select * from tags where accommodation_id = #{accommodationId};
    </select>

    <!--편의시설 등록-->
    <insert id="insertAccommodationAmenity" parameterType="Amenities" useGeneratedKeys="true" keyProperty="id">
        insert into amenities (accommodation_id, amenity)
        values (#{accommodationId}, #{amenity});
    </insert>
    <delete id="deleteAccommodationAmenities" parameterType="int">
        delete from amenities where accommodation_id=#{accommodationId}
    </delete>

    <!--숙소 편의시설 조회-->
    <select id="selectAccommodationAmenitiesByAccommodationId" parameterType="int" resultType="Amenities">
        select * from amenities where accommodation_id = #{accommodationId};
    </select>

    <!--리뷰 조회-->
    <select id="selectReview" resultType="Review">
        select *
        from review
        where id = #{accommodationId};
    </select>

    <!--좋아요 등록-->
    <select id="selectMyLikesByAccountId" parameterType="string" resultType="Likes">
        select * from likes where account_id=#{accountId}
    </select>
    <insert id="insertAccommodationLike" parameterType="Likes" useGeneratedKeys="true" keyProperty="id">
        insert into likes (accommodation_id, account_id)
        values (#{accommodationId}, #{accountId})
    </insert>
    <delete id="deleteAccommodationLike" parameterType="Likes">
        delete from likes where account_id=#{accountId} and accommodation_id=#{accommodationId}
    </delete>

    <!-- 숙소별 좋아요 수-->
    <select id="selectLikeCountByAccommodation" parameterType="int" resultType="int">
        select count(*)
        from likes
        where accommodation_id = #{accommodationId};
    </select>

    <!-- 좋아요 많은 순으로 숙소 목록 반환-->
    <select id="selectAccommodationsOrderByLikeCount" resultType="Accommodation">
        SELECT
        a.*
        FROM accommodation a
        LEFT JOIN (
        SELECT
        accommodation_id,
        COUNT(*) AS like_count
        FROM likes
        GROUP BY accommodation_id
        ) lc
        ON a.id = lc.accommodation_id
        ORDER BY
        IFNULL(lc.like_count, 0) DESC;
    </select>


    <select id="selectAccommodationStatsInfo" resultType="AccommodationStatsInfo">
        SELECT r.location, COUNT(a.id) AS accommodation_count, AVG(a.price) AS average_price
        FROM regions r LEFT JOIN accommodation a ON a.address LIKE CONCAT('%', r.location, '%')
        GROUP BY r.location ORDER BY r.idx
    </select>



</mapper>
