<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airbnb.mappers.MessageMapper">

    <insert id="insertOne" parameterType="Message">
        insert into message (reservation_code, writer_id, recipient_id, content)
        values(#{reservationCode}, #{writerId}, #{recipientId}, #{content})
    </insert>

</mapper>