<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airbnb.mappers.MessageMapper">

    <select id="selectLastMessageByCode" parameterType="string" resultType="Message">
        select * from message where reservation_code=#{reservationCode} order by write_at desc limit 1;
    </select>
    <select id="selectMessageByCode" parameterType="string" resultType="Message">
        select * from message where reservation_code=#{reservationCode} order by write_at asc
    </select>
    <select id="countMessageReadFlagByCode" resultType="int" parameterType="map">
        SELECT COUNT(*) AS cnt
        FROM message
        WHERE reservation_code = #{reservationCode}
        AND read_flag = false
        AND writer_id != #{accountId};
    </select>
    <update id="updateMessageReadFlagById" parameterType="int">
        update message set read_flag=true where id=#{id};
    </update>

    <!-- 쪽지 작성 -->
    <insert id="insertMessage" parameterType="Message" keyProperty="id" useGeneratedKeys="true">
        insert into message (reservation_code, recipient_id, writer_id, content)
        values (#{reservationCode}, #{recipientId}, #{writerId}, #{content})
    </insert>

    <!-- 쪽지 조회 -->
    <select id="selectMessage" parameterType="String" resultType="Message">
        select *
        from message
        where recipient_id = #{recipientId}
        order by write_at desc
    </select>

    <!-- 쪽지 삭제 -->
    <delete id="deleteMessage" parameterType="int">
        delete
        from message
        where id = #{messageId}
    </delete>

</mapper>