<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airbnb.mappers.ReservationMapper">

    <insert id="insertOne" parameterType="Reservation">
        insert into reservation(code, accommodation_id, account_id, visitors, start_date, end_date, price)
        values (#{code}, #{accommodationId}, #{accountId}, #{visitors}, #{startDate}, #{endDate}, #{price})
    </insert>
    <insert id="insertReservationDate" parameterType="ReservationDate">
        insert into reservation_date (accommodation_id, date) values(#{accommodationId}, #{date})
    </insert>

    <select id="selectOne" parameterType="string" resultType="Reservation">
        select * from reservation where code=#{code}
    </select>
    <select id="selectReservationByAccommodationId" parameterType="int" resultType="Reservation">
        select * from reservation where accommodation_id=#{accommodationId}
    </select>

    <select id="countDuplicateDate" parameterType="ReservationDateParam">
        select count(*) as cnt from reservation_date where accommodation_id=#{accommodationId} and date between #{startDate} and #{endDate}
    </select>


    <delete id="deleteReservationByCode" parameterType="string">
        delete from reservation where code=#{code}
    </delete>

    <delete id="deleteReservationDate" parameterType="ReservationDateParam">
        delete from reservation_date where accommodation_id=#{accommodationId} and date between #{startDate} and #{endDate}
    </delete>

    <update id="updateReservation" parameterType="ReservationUpdateParam">
        update reservation set visitors=#{visitors}, start_date=#{startDate}, end_date=#{endDate}, price=#{price} where code=#{code}
    </update>

</mapper>