<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airbnb.mappers.ReviewMapper">

    <!-- 리뷰 작성 -->
    <insert id="insertReview" parameterType="Review" keyProperty="id" useGeneratedKeys="true">
        insert into review (accommodation_id, account_id, reservation_code, rating, content)
        values (#{accommodationId}, #{accountId}, #{reservationCode}, #{rating}, #{content})
    </insert>

    <!-- 리뷰 조회 -->
    <select id="selectReview" parameterType="String" resultType="Review">
        select *
        from review
        where id = #{id}
    </select>

    <select id="countReviewByAccountIdAndCode" parameterType="map">
        select count(*) from review where account_id=#{accountId} and reservation_code=#{reservationCode};
    </select>

    <select id="selectReviewByAccommodation" parameterType="int" resultType="Review">
        select * from review where accommodation_id=#{accommodationId}
    </select>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview" parameterType="int">
        delete
        from review
        where id = #{reviewId}
    </delete>

    <!-- 숙소별 별점(rating) 평균 조회 -->
    <select id="selectAverageRatingByAccommodationId" parameterType="int" resultType="double">
        select avg(review.rating) as average_rating
        from review
        join reservation
        on review.reservation_code = reservation.code
        where reservation.accommodation_id = #{accommodationId}
    </select>


</mapper>