<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.airbnb.mappers.ReviewMapper">

    <!-- 리뷰 작성 -->
    <insert id="insertReview" parameterType="Review" keyProperty="id" useGeneratedKeys="true">
        insert into review (accommodation_id, account_id, reservation_code, rating, content)
        values (#{accommodationId}, #{accountId}, #{reservationCode}, #{rating}, #{content})
    </insert>

    <!-- 리뷰 조회 -->
    <select id="selectReview" parameterType="String" resultType="Review">
        select *
        from review
        where id = #{id}
    </select>

    <select id="selectReviewByAccommodation" parameterType="int" resultType="Review">
        select * from review where accommodation_id=#{accommodationId}
    </select>

    <!-- 리뷰 삭제 -->
    <delete id="deleteReview" parameterType="int">
        delete
        from review
        where id = #{reviewId}
    </delete>


</mapper>